html {
	background-color: #004F57;
}

body {
	padding: 20px 50px 50px;
}

header > ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

select,
button {
	cursor: pointer;
}

.truncToThreeLines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}