* {
  box-sizing: border-box;
}

html {
	background-color: #004F57;
}

body {
	margin: 0;
	padding: 25px 22px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: normal;
}

#root {
	margin: auto;
	width: 100%;
	max-width: 750px;
}

header > ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

select,
button {
	cursor: pointer;
}

.truncToThreeLines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

a {
	color: #FF9A9A;
	word-break: break-word;
}

p:last-of-type {
	margin-bottom: 0;
}